@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    margin: 0;

    font-family: "Inter", sans-serif;
}

.dashboard {

    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr;
}


/* All CSS for header */

.header {
    grid-column: 2 / span 4;

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 2fr;


    background-color: black;
}

.header svg {
    color: #e11d48;
}

.header_top_left {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 7fr;
}

.header_icon_form {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
}



.header_top_right {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.header_icon_user {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
}

.user_name {
    font-size: 1.3rem;
    font-weight: 700;

    color: white;   
}

.buttons {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    
}

.greeting_header {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

    display: grid;
    grid-template-columns: 1fr 7fr;

}

.greeting {
    grid-column: 2 / 3;
}

.greeting_smaller {
    font-weight: 500;
    font-size: 1.1rem;

    color: white;
}

.greeting_bigger {
    font-weight: 600;
    font-size: 1.5rem;

    color: #e11d48
}

input {
    width: 280%;
    border-radius: 10px;

    border-color: #e11d48;
    outline: none;
}

input, select{
    color: rgb(148, 148, 148);
}

input {
    background-color: black;
}

button{
    background-color: rgba(0, 0, 0, 0);
    color: #e11d48;
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid #e11d48;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}



/* All CSS for left sidebar */

.sidebar {
   /* border: 1px black solid; */

    grid-row: 1 / span 5;

    display: grid;
    grid-template-rows: 200px 2fr 1fr 1fr;
   /* grid-template-rows: 1fr 3fr 2fr; */
    
    background-color: black;
    color: white;
}

.sidebar svg {
    color: #e11d48;
}

.sidebar_top {
  /*  border: red 1px solid; */

    display: flex;    
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;

    display: grid;
    gap: 10px;

    font-size: 1.3rem;
    font-weight: 800;
}

svg {
    padding-right: 15px;
}


.list_top {
  /*  border: blue 1px solid; */
}

.list_bottom {
   /* border: green 1px solid; */

}

/* All CSS for content */

.content {
    grid-row: 2 / span 4;
    grid-column: 2 / span 4;

    display: grid;
    grid-template-columns: 2fr 1fr;

    background-color:rgba(0, 0, 0, 0.897);
}

.content_left {
    grid-column: 1 / span 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px repeat(9, 1fr);
    gap: 20px;
}

.content_left_header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 1.3rem;
    margin-top: 1.5rem;

    color: #e11d48;
}

.project {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;

    border-left: 6px solid #e11d48;
    border-right: 6px solid #e11d48;
    border-radius: 10px;

    background-color: #000000;
    color: white;
}

.project h3 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.project p {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.project .project_icon {
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;  
}



.recipes {
    grid-row: 2 / span 3;
    grid-column: 1 / 2;
}

.landing_page {
    grid-row: 2 / 5;
    grid-column: 2 / 3;
    margin-left: 0.5rem;
}
 
.rps {
    grid-row: 5 / 8;
    grid-column: 1 / 2;
}

.etch_a_sketch {
    grid-row: 5 / 8;
    grid-column: 2 / 3;
}

.calculator {
    grid-row: 8 / 11;
    grid-column: 1 / 2;
}
 
.sign_up_form {
    grid-row: 8 / 11;
    grid-column: 2 / 3;
}

.content_right {

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;
}

.content_right_header {
    grid-row: 1 / span 1;

    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 1.5rem;

    color: #e11d48
}

.announcement {
    grid-row: 2 / span 4;

    border-top: 6px solid #e11d48;
    border-bottom: 6px solid #e11d48;
    border-radius: 10px;

    background-color: black;
    color: white;
}

.content_right_header_lower {
    grid-row: 6 / span 1;

    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 1.3rem;
    margin-top: 1.7rem;

    color: #e11d48;
}

.trending {
    grid-row: 7 / span 4;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    border-top: 6px solid #e11d48;
    border-bottom: 6px solid #e11d48;
    border-radius: 10px;

    background-color: black;
    color: white;
}

.trending svg {

    color: #e11d48
}

.announcement_one, .announcement_two, .announcement_three {
    margin-left: 1rem;
    margin-right: 1rem;
}

hr {
    margin-left: 0.5rem;
    margin-right: 0.5rem;   
}

.content {
    gap: 20px;
}

.trending_one, .trending_two, .trending_three, .trending_four {
   display: flex;
   grid-column: 2 / 3;

   justify-content: center;
   align-items: center;
}

.trending_one {
    grid-row: 1 / 2;
}

.trending_two {
    grid-row: 2 / 3;
}

.trending_three {
    grid-row: 3 / 4;
}

.trending_four {
    grid-row: 4 / 5;
}

